<h1>Pictures</h1>
<p><a href ="/pictures/new">Upload Picture</a></p>

<p> List of all pictures uploaded </p>
<ul>
<% @pics.each do |pic| %>
    <li><a href="/pictures/<%= pic.id%>"> <%= image_tag pic.image%></a></li>

<% end %>

</ul>
